In [175]:
import pandas as pd
import ipywidgets as widgets
import matplotlib
import plotly.express as px

In [44]:
data = pd.read_csv("covid_merged_data_clean.csv")
data = data.rename(columns={"Country": "country"})

0              Austria
1              Austria
2              Austria
3              Austria
4              Austria
             ...
5026    United Kingdom
5027    United Kingdom
5028    United Kingdom
5029    United Kingdom
5030    United Kingdom
Name: country, Length: 5031, dtype: object

In [50]:
data

,country,date,total_cases,new_cases,total_deaths,new_deaths,population,population_density,median_age,gdp_per_capita,cvd_death_rate,Overall Life Expectancy,Female Life Expectancy,Male Life Expectancy,Number of doctors per 1000 people
0,Austria,2019-12-31,0.0,0.0,0.0,0.0,9006400.0,106.749,44.4,45436.686,145.183,81.4,83.8,79.0,5.00515
1,Austria,2020-01-01,0.0,0.0,0.0,0.0,9006400.0,106.749,44.4,45436.686,145.183,81.4,83.8,79.0,5.00515
2,Austria,2020-01-02,0.0,0.0,0.0,0.0,9006400.0,106.749,44.4,45436.686,145.183,81.4,83.8,79.0,5.00515
3,Austria,2020-01-03,0.0,0.0,0.0,0.0,9006400.0,106.749,44.4,45436.686,145.183,81.4,83.8,79.0,5.00515
4,Austria,2020-01-04,0.0,0.0,0.0,0.0,9006400.0,106.749,44.4,45436.686,145.183,81.4,83.8,79.0,5.00515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5026,United Kingdom,2020-06-09,287399.0,1205.0,40597.0,55.0,67886004.0,272.898,40.8,39753.244,122.137,81.2,83.0,79.5,2.71490
5027,United Kingdom,2020-06-10,289140.0,1741.0,40883.0,286.0,67886004.0,272.898,40.8,39753.244,122.137,81.2,83.0,79.5,2.71490
5028,United Kingdom,2020-06-11,290143.0,1003.0,41128.0,245.0,67886004.0,272.898,40.8,39753.244,122.137,81.2,83.0,79.5,2.71490
5029,United Kingdom,2020-06-12,291409.0,1266.0,41279.0,151.0,67886004.0,272.898,40.8,39753.244,122.137,81.2,83.0,79.5,2.71490
5030,United Kingdom,2020-06-13,292950.0,1541.0,41481.0,202.0,67886004.0,272.898,40.8,39753.244,122.137,81.2,83.0,79.5,2.71490

In [101]:
data['date'] = pd.to_datetime(data['date']).dt.date

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5031 entries, 0 to 5030
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country                            5031 non-null   object
 1   date                               5031 non-null   datetime64[ns]
 2   total_cases                        5031 non-null   float64
 3   new_cases                          5031 non-null   float64
 4   total_deaths                       5031 non-null   float64
 5   new_deaths                         5031 non-null   float64
 6   population                         5031 non-null   float64
 7   population_density                 5031 non-null   float64
 8   median_age                         5031 non-null   float64
 9   gdp_per_capita                     5031 non-null   float64
 10  cvd_death_rate                     5031 non-null   float64
 11  Overall Life Expectancy            5031 non-null   float64
 12  Female Life Expectancy             5031 non-null   float64
 13  Male Life Expectancy               5031 non-null   float64
 14  Number of doctors per 1000 people  5031 non-null   float64
dtypes: datetime64[ns](1), float64(13), object(1)
memory usage: 589.7+ KB

In [148]:
country_list = data.country.unique()
data_list = ['total_cases', 'new_cases', 'total_deaths', 'new_deaths']
dates_range = pd.date_range(data.date.min(), data.date.max(), freq='D')
options = [(date.strftime(' %d %b %Y '), date) for date in dates_range]
index = (0, len(options)-1)

In [157]:
selection_range_slider = widgets.SelectionRangeSlider(
    options=options,
    index=index,
    description='Dates',
    orientation='horizontal',
    layout={'width': '400px'}
)

In [178]:
def generatePlot(Country, Metric, date_range):
    
    filtered_data = data.loc[data['country'] == Country]
    filtered_data = filtered_data[(filtered_data['date'] >= date_range[0]) & (filtered_data['date'] <= date_range[1])]
    
    plot_df = filtered_data[['date', Metric]]
    
    plot = px.line(plot_df, x='date', y=Metric, title='Generated Plot')
    
    return plot

In [179]:
widgets.interact(generatePlot, Country = country_list, Metric = data_list, date_range = selection_range_slider)

interactive(children=(Dropdown(description='Country', options=('Austria', 'Belarus', 'Belgium', 'Bosnia and He…