In [6]:
import pandas as pd
import ipywidgets as widgets

In [7]:
data = pd.read_csv("covid_merged_data_clean.csv")

In [8]:
data

,location,date,total_cases,new_cases,total_deaths,new_deaths,population,population_density,median_age,gdp_per_capita,cvd_death_rate,Country,Overall Life Expectancy,Female Life Expectancy,Male Life Expectancy,Number of doctors per 1000 people
0,Austria,2019-12-31,0.0,0.0,0.0,0.0,9006400.0,106.749,44.4,45436.686,145.183,Austria,81.4,83.8,79.0,"5,00515"
1,Austria,2020-01-01,0.0,0.0,0.0,0.0,9006400.0,106.749,44.4,45436.686,145.183,Austria,81.4,83.8,79.0,"5,00515"
2,Austria,2020-01-02,0.0,0.0,0.0,0.0,9006400.0,106.749,44.4,45436.686,145.183,Austria,81.4,83.8,79.0,"5,00515"
3,Austria,2020-01-03,0.0,0.0,0.0,0.0,9006400.0,106.749,44.4,45436.686,145.183,Austria,81.4,83.8,79.0,"5,00515"
4,Austria,2020-01-04,0.0,0.0,0.0,0.0,9006400.0,106.749,44.4,45436.686,145.183,Austria,81.4,83.8,79.0,"5,00515"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5026,United Kingdom,2020-06-09,287399.0,1205.0,40597.0,55.0,67886004.0,272.898,40.8,39753.244,122.137,United Kingdom,81.2,83.0,79.5,"2,7149"
5027,United Kingdom,2020-06-10,289140.0,1741.0,40883.0,286.0,67886004.0,272.898,40.8,39753.244,122.137,United Kingdom,81.2,83.0,79.5,"2,7149"
5028,United Kingdom,2020-06-11,290143.0,1003.0,41128.0,245.0,67886004.0,272.898,40.8,39753.244,122.137,United Kingdom,81.2,83.0,79.5,"2,7149"
5029,United Kingdom,2020-06-12,291409.0,1266.0,41279.0,151.0,67886004.0,272.898,40.8,39753.244,122.137,United Kingdom,81.2,83.0,79.5,"2,7149"
5030,United Kingdom,2020-06-13,292950.0,1541.0,41481.0,202.0,67886004.0,272.898,40.8,39753.244,122.137,United Kingdom,81.2,83.0,79.5,"2,7149"

In [10]:
data['date'] = pd.to_datetime(data['date'])

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5031 entries, 0 to 5030
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   location                           5031 non-null   object
 1   date                               5031 non-null   datetime64[ns]
 2   total_cases                        5031 non-null   float64
 3   new_cases                          5031 non-null   float64
 4   total_deaths                       5031 non-null   float64
 5   new_deaths                         5031 non-null   float64
 6   population                         5031 non-null   float64
 7   population_density                 5031 non-null   float64
 8   median_age                         5031 non-null   float64
 9   gdp_per_capita                     5031 non-null   float64
 10  cvd_death_rate                     5031 non-null   float64
 11  Country                            5031 non-null   object
 12  Overall Life Expectancy            5031 non-null   float64
 13  Female Life Expectancy             5031 non-null   float64
 14  Male Life Expectancy               5031 non-null   float64
 15  Number of doctors per 1000 people  5031 non-null   object
dtypes: datetime64[ns](1), float64(12), object(3)
memory usage: 629.0+ KB