In [3]:
import pandas as pd
data = pd.read_csv('test_sheet.csv')

In [4]:
data.head()

,Subject Label,Subject URI,Predicate Label,Predicate URI,Predicate Symmetry,Object Label,Object URI,Context
0,Milton Joseph Batiste Jr.,http://id.loc.gov/authorities/names/no99007541,Son Of,NaN,Asymmetric,Milton Batiste Sr.,None,NaN
1,Milton Joseph Batiste Jr.,http://id.loc.gov/authorities/names/no99007541,Son Of,NaN,Asymmetric,Feliciana Mary Jolivette Batiste,None,NaN
2,Milton Batiste Sr.,None,Father Of,NaN,Asymmetric,Milton Joseph Batiste Jr.,http://id.loc.gov/authorities/names/no99007541,http://cool.net/whatever
3,Feliciana Mary Jolivette Batiste,None,Mother Of,NaN,Asymmetric,Milton Joseph Batiste Jr.,http://id.loc.gov/authorities/names/no99007541,NaN
4,Milton Batiste Sr.,None,Spouse Of,NaN,Symmetric,Feliciana Mary Jolivette Batiste,None,NaN